@media screen and (max-width: 1800px) and (min-width: 990px){
	
	header{

	padding-top: 170px;
	height:850px;
	background: 
	linear-gradient(#ffa949, transparent 90%),
	linear-gradient(0deg, white, transparent),
	url(../img/volcan.jpg) no-repeat center;
	background-size: cover;
}


body{
	color: #057D7B;
	margin: 0;
	font-size: 16px; /*1em/1.5 en unidades de medida*/
}
	.titulo{
		color: white;
		font-size: 1.6em;
		letter-spacing: 0.6em;
		padding-bottom: 10px;
	}
	#primera, #segunda {
		width: 75%;
		padding-left: 50px;
		padding-right: 50px;
		margin : auto;
		max-width: 960px;

	}
	.hotel, .tips{
		width: 45%;

	}
	.hotel{
		float: left;

	}
	.tips{
		float: right;
	}
}
@media screen and (max-width: 990px) and (min-width: 600px){
	
	header{

	padding-top: 170px;
	height:850px;
	background: 
	linear-gradient(red, transparent 90%),
	linear-gradient(0deg, white, transparent),
	url(../img/volcan.jpg) no-repeat center;
	background-size: cover;
}


body{
	color: red;
	margin: 0;
	font-size: 16px; /*1em/1.5 en unidades de medida*/
}
	.titulo{
		color: white;
		font-size: 1.6em;
		letter-spacing: 0.6em;
		padding-bottom: 10px;
	}
	#primera, #segunda {
		width: 75%;
		padding-left: 50px;
		padding-right: 50px;
		margin : auto;
		max-width: 960px;

	}
	.hotel, .tips{
		width: 45%;

	}
	.hotel{
		float: left;

	}
	.tips{
		float: right;
	}
}
@media screen and (max-width: 600px) and (min-width: 0px){
	
	header{

	padding-top: 170px;
	height:850px;
	background: 
	linear-gradient(green, transparent 90%),
	linear-gradient(0deg, white, transparent),
	url(../img/volcan.jpg) no-repeat center;
	background-size: cover;
}


body{
	color: green;
	margin: 0;
	font-size: 16px; /*1em/1.5 en unidades de medida*/
}
	.titulo{
		color: white;
		font-size: 1.6em;
		letter-spacing: 0.6em;
		padding-bottom: 10px;
	}
	
}
h1{
	font-size: 5em;
	color: white;
	text-transform: uppercase;
	margin: 12px 0 0 0;
	text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.8);
}

h2{

	font-size: 3em;
	margin: 20px 0 0.5em;
}
h3{
	font-size: 3em;
	margin-bottom: 1.7em;
	color: #48525c; 
}

img{
	width: 100%;
	height: 90%;
	margin-bottom: 20px;
	border-radius: 10px;
}
ul, ol{
	margin: 30px;
}

li{
	margin-bottom: 10px;
}
#primera, header, footer{
	text-align: center;
}
#primera{
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 10px solid #ffa949;
}
#segunda{
	padding-top: 80px;
	padding-bottom: 70px;
	border-bottom: 2px solid #dfe2e6; 

}
footer{
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 10px solid #ffa949;
}
.fauna{
	color: white;
	text-align: center;
	padding: 18% 24%;
	border-top: 10px solid #ffa949;
	margin: 105px 0 60px;
	background: url("../img/fauna.jpg") no-repeat center;
}
.lk{
	font-size: 1.25em;
	border-bottom: 3px solid;
	text-decoration: none;
	padding: 0 9px 3px;
	margin-top: 20px;
}

/*Selector avanzado, after dice que se va a modificar todo después del selector de id*/
#segunda:after{
content: "";/*insertar valor nulo*/
display: block;/*Convertir en un elemento de bloque*/
clear: both;/*Especifica si un elemento puede estar al lado de elementos que lo preceden*/
}